!!!loose
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title Sinatra Skeleton App
    %link{:href => '/stylesheets/master.css', :rel => 'stylesheet', :type => 'text/css'}
  %body
    =yield